body {
    margin-left: 50%;
    padding: auto;
    text-align: center;
    width: 100%;
}
.a {
    padding: 7px 28px;
    background: rgb(5, 132, 105);
    color: white;
    border: none;
    border-radius: 3px;
    margin: 10px;
}
.b {
    padding: 7px 28px;
    background: rgb(129, 5, 5);
    color: white;
    border: none;
    border-radius: 3px;
    margin: 10px;
}
.c {
    padding: 5px 20px;
    border: rgb(154, 182, 13) solid;
    color: rgb(154, 182, 13);
    border-radius: 3px;
    margin: 10px;
}